---
import Layout from "@src/layouts/Layout.astro"
---

<Layout description="Gizlilik politikası" title="Gizlilik politikası" canonicalUrlExtension="gizlilik-politikasi">
  <div class="px-4 pb-6 flex flex-col space-y-4">
    <h1>Gizlilik Politikası</h1>
    <p>
      Son Güncelleme Tarihi: 19.11.2023
      <p>
        Hoş Geldiniz! Biz, hesapladim.com.tr ("biz", "bizim" veya "sitemiz"), ziyaretçilerimizin gizliliğini
        önemsiyoruz. Bu gizlilik politikası, sitemizin topladığı bilgilerin ne şekilde kullanıldığını, paylaşıldığını ve
        korunduğunu açıklamaktadır. Lütfen bu politikayı dikkatlice okuyun.
      </p>

      <h2>Toplanan Bilgiler ve Kullanımı</h2>

      <h3>Ziyaretçi Bilgileri:</h3>
      <ul>
        <li>İnternet Protokol (IP) adresi</li>
        <li>Tarayıcı türü ve sürümü</li>
        <li>Ziyaret tarihi ve saati</li>
        <li>Ziyaret edilen sayfalar</li>
         Bu bilgiler, sitemizi geliştirmek, kullanıcı deneyimini anlamak ve istatistiksel amaçlarla kullanılmaktadır.
      </ul>

      <h3>Çerezler:</h3>
      <p>
        Sitemiz, ziyaretçilerimize daha iyi hizmet verebilmek ve tercihlerini hatırlayabilmek için çerezleri
        kullanabilir. Çerezler, tarayıcınıza yerleştirilen küçük metin dosyalarıdır.
      </p>
      <h3>Metrik ve Analiz Araçları:</h3>
      <p>
        Google Analytics gibi üçüncü taraf analiz araçları kullanabiliriz. Bu araçlar, sitemizin nasıl kullanıldığını
        anlamak için çeşitli istatistiksel verileri toplar.
      </p>
      <h3>Veri Paylaşımı</h3>
      <p>
        Sitemiz, ziyaretçi bilgilerini ticari amaçlarla satmaz, kiralamaz veya takas etmez. Ancak, yasal gerekliliklere
        uymak veya sitemizin güvenliğini korumak amacıyla bu bilgileri paylaşabiliriz.
      </p>
      <h2>Güvenlik</h2>

      <p>
        Sitemiz, ziyaretçi bilgilerini korumak için uygun güvenlik önlemlerini alır. Ancak, internet üzerinden iletişim
        kesin güvenli değildir, bu nedenle herhangi bir bilginin iletimi konusunda tam güvenilirlik sağlayamayız.
      </p>

      <h2>Diğer Sitelere Bağlantılar</h2>

      <p>
        Sitemiz, diğer web sitelerine bağlantılar içerebilir. Bu bağlantıları kullanırken lütfen bu sitelerin gizlilik
        politikalarını gözden geçirin, çünkü bu politika, bu sitelere uygulanmaz.
      </p>

      <h2>Gizlilik Politikası Güncellemeleri</h2>
      <p>
        Bu gizlilik politikası, değiştirilebilir. Herhangi bir güncelleme durumunda, bu sayfada güncel bir tarihle
        belirtilecektir.
      </p>

      <h2>İletişim Bilgileri</h2>

      <p>
        Bu gizlilik politikası veya sitemizle ilgili herhangi bir soru veya endişeniz varsa, lütfen bizimle iletişime
        geçmekten çekinmeyin: <a href="mailto:hesapladimiletisim@gmail.com">hesapladimiletisim@gmail.com</a>
      </p>
    </p>
  </div>
</Layout>

<style>
  h2 {
    @apply font-medium text-2xl;
  }
  h3 {
    @apply font-medium text-lg;
  }
  p {
    @apply font-normal;
  }
</style>
