---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Hesapladım" description="Hesapladım.com.tr ile basitçe hesaplama ve dönüştürme işlemleri yapın">
  <h1 class="text-center h1">Hesapladım'a Hoş Geldiniz!</h1>
</Layout>
