---
import Layout from "../layouts/Layout.astro"
---

<Layout
  title="Kolayca hesapla 📏"
  description="Kolayca hesapla ile hızlı şekilde hesaplama ve dönüştürme işlemleri yapın"
>
  <h1 class="text-center h1">Kolayca Hesapla Beta!</h1>
  <p class="mx-auto">Kolayca hesapla şuan <strong>beta</strong> geliştirme sürecinde, hesaplamalarda hata olabilir!</p>
</Layout>
