<footer class="flex flex-col justify-center items-center min-w-full mt-8 mb-0 mx-0">
  <div class="border-t border-gray-600 w-2/3"></div>
  <ul class="flex flex-col lg:flex-row">
    <li><a href="/">Ana Sayfa</a></li>
    <li><a href="/kullanim-kosullari">Kullanım Koşulları</a></li>
    <li><a href="/gizlilik-politikasi">Gizlilik Politikası</a></li>
    <li><a href="/tum-hesaplamalar">Tüm Hesaplamalar</a></li>
  </ul>
</footer>
