---

---

<header class="flex items-stretch mx-auto bg-acik lg:mb-14 h-10 lg:items-center shadow-md">
  <div class="flex px-4 h-full justify-between transition-colors w-full">
    <a href="/" class="font-sekilli font-bold text-lg py-2 px-2 hover:bg-acik2 transition-colors">Ana Sayfa</a>
    <div class="hidden lg:flex">
      <a href="/kullanim-kosullari" class="font-sekilli font-semibold text-lg py-2 px-2 transition-colors hover:bg-acik2"
        >Kullanım koşulları</a
      >
      <a href="/gizlilik-politikasi" class="font-sekilli font-semibold text-lg py-2 px-2 transition-colors hover:bg-acik2"
        >Gizlilik politikası</a
      >
    </div>
  </div>
</header>
